#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-template-rows:  repeat(1, 2rem);

}

.screen {
  background-color: rgb(27, 27, 27);
}

.top-screen {
  background-color: rgb(173, 17, 17);
  height: 2rem;


}

.bottom-screen {
  background-color: rgb(17, 116, 173);
  height: 2rem;
}

.double-space {
  width: 4rem;
}

#empty-button {
  pointer-events: none;
}